<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/howtouse.css" />
    <title><%= title%></title>
  </head>
  <body>
    <div class="main">
      <nav>
        <h3 class="logo"><img src="/images/logo.png" alt="" /></h3>
        <span>
          <a href="/about">About</a>
          <a href="/">Homepage</a>
        </span>
      </nav>
      <div class="homepage">
        <h1>How to use</h1>
        <h2>Let's Chat</h2>

        <h4 style="padding: 50px; font-size: 18px">
          <li style="list-style: none">
            Step 1: first open the application and then select the field where
            and which topic you want to start conversation globally.
          </li>
          <br />

          <li style="list-style: none">
            Step 2: After select the field you need to fill your username which
            are using for chat duration
          </li>
          <br />
          <li style="list-style: none">
            Steps 3: after done all that steps you are connected to the chat
            page and now you can start your conversation also you can check who
            is online and how many user is only
          </li>
          <br />
          <li style="list-style: none">
            Steps 4: after done your conversation you can easily out the
            conversation and you fell free because this chat not longer
            available on the page
          </li>
        </h4>
      </div>
    </div>
  </body>
</html>
