<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" />

    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title><%= title%></title>
  </head>
  <body>
    <div class="main">
      <nav>
        <h3 class="logo"><img src="/images/logo.png" alt="" /></h3>
        <span>
          <a href="/howtouse">How to use</a>
          <a href="/about">about us</a>
        </span>
      </nav>
      <div class="homepage">
        <div class="heading">
          <h1>Global chat application</h1>
          <h2>Please select the field you want to talk globally</h2>
        </div>
        <div class="container">
          <div class="left">
            <li><a href="/Dev">Full Stack web development(MERN)</a></li>
            <li><a href="/news">Live news update bhopal</a></li>
            <li><a href="/market">Share market Tips</a></li>
            <li><a href="/career">career Options(After collage)</a></li>
            <li><a href="/blood">Blood Donation(Quick Update)</a></li>
          </div>
          <div class="right">
            <li><a href="/java">Java Developer(Internship)</a></li>
            <li><a href="/ngo">NGO Bhopal </a></li>
            <li><a href="/it">IT Consult(All over india)</a></li>
            <li>
              <a href="/cricket">cricket updates(Trending ICC world Cup)</a>
            </li>
            <li><a href="/python">Python(with django)</a></li>
          </div>
        </div>
      </div>
    </div>









    <script
  type="text/javascript"
  src="https://unpkg.com/sheryjs/dist/Shery.js"
></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>

<script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>



<script>
  
</script>


  </body>
</html>
